* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFCC00;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #1E1E1E;
    font-size: 70px;
    background-color: #EBEBEB;
}

h2 {
    font-size: 38px;
    color: #1E1E1E;
    background-color: #FFFF00;
}

p {
    font-size: 18px;
    color: #1E1E1E;
    background-color: #FFFF00;
}